<div class="operations">
  <div class="operations__filter">
      <input class="operations__filter-input" type="text" placeholder="Filtrar por Nome" [(ngModel)]="searchTerm">
  </div>

  <div class="operations__table">
      <table>
          <thead>
              <tr>
                  <th class="operations__table-cell operations__table-cell--white">Nome</th>
                  <th class="operations__table-cell operations__table-cell--white">Status Cliente</th>
                  <th class="operations__table-cell operations__table-cell--white">Data Operação</th>
                  <th class="operations__table-cell operations__table-cell--white">Hora Operação</th>
                  <th class="operations__table-cell operations__table-cell--white">Valor Operação</th>
                  <th class="operations__table-cell operations__table-cell--white">Risco Operação</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let operation of operationsList$ | async | filter: 'customerName' : searchTerm">
                  <td class="operations__table-cell">{{operation.customerName}}</td>
                  <td class="operations__table-cell">
                      <p class="operations__status">
                          {{operation.customerStatus | status}}
                          
                          <img [src]="operation.customerStatus | statusImage" class="operations__icon" width="20" height="20" />
                      </p>
                  </td>
                  <td class="operations__table-cell">{{ operation.operationDate | date }}</td>
                  <td class="operations__table-cell">{{ operation.operationDate | date: 'HH:mm a' }}</td>
                  <td class="operations__table-cell">{{ operation.operationValue | currency }}</td>
                  <td class="operations__table-cell">{{ operation.operationRisk | percent: '1.0-2' }}</td>
              </tr>
              <!-- <tr>
                  <td class="operations__table-cell">Maria</td>
                  <td class="operations__table-cell">
                      <p class="operations__status">
                          Inativo
                          <img src="assets/icons/inactive-icon.png" class="operations__icon" width="20" height="20" />
                      </p>
                  </td>
                  <td class="operations__table-cell">30/10/2023</td>
                  <td class="operations__table-cell">10:15 AM</td>
                  <td class="operations__table-cell">R$ 750,99</td>
                  <td class="operations__table-cell">6,75%</td>
              </tr>
              <tr>
                  <td class="operations__table-cell">Pedro</td>
                  <td class="operations__table-cell">
                      <p class="operations__status">
                          Ativo
                          <img src="assets/icons/active-icon.png" class="operations__icon" width="20" height="20" />
                      </p>
                  </td>
                  <td class="operations__table-cell">28/10/2023</td>
                  <td class="operations__table-cell">22:15 PM</td>
                  <td class="operations__table-cell">R$ 3.000.000,00</td>
                  <td class="operations__table-cell">100%</td>
              </tr>
              <tr>
                  <td class="operations__table-cell">Laura</td>
                  <td class="operations__table-cell">
                      <p class="operations__status">
                          Inativo
                          <img src="assets/icons/inactive-icon.png" class="operations__icon" width="20" height="20" />
                      </p>
                  </td>
                  <td class="operations__table-cell">25/10/2023</td>
                  <td class="operations__table-cell">00:25 AM</td>
                  <td class="operations__table-cell">R$ 150.300,35</td>
                  <td class="operations__table-cell">10,32%</td>
              </tr> -->
          </tbody>
      </table>
  </div>
</div>
