/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

body {
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
}

input, button, select {
    padding: 5px;
}

.text-error{
    color: #dc3545;
    font-size: 12px;
}

.ng-valid.ng-touched {
    border-color: green;
}

.ng-invalid.ng-touched {
    border-color: red;
}